services:
  backend:
    build:
      context: .
      dockerfile: dockerfile
    env_file:
      - backend/.env
    volumes:
      - static:/static
    expose:
      - 8000
    restart: always

  frontend:
    build:
      context: ../front-end
      dockerfile: Dockerfile
    expose:
      - 8080
    restart: always

  nginx:
    build: ./nginx
    volumes:
      - static:/static
    ports:
      - "8000:80"
    depends_on:
      - backend
      - frontend
    restart: always

volumes:
  static:
