/* Client Card */
.stButton>Button {
    border-radius: 50ch;
}

div.client_card_header {
    display: flex;
    justify-content: space-between;
    
    
}

div.rank {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #ED1D24;
    color: white;
    border-radius: 5px;
}

div.rank h2 {
    margin: auto;
}